@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";
@import "tw-animate-css"; 

@custom-variant dark (&:is(.dark *));

.toast-description {
  color: #050508; 
}


:root {
  --background: oklch(0.9597 0.0052 247.8776);
  --foreground: oklch(0.4424 0.0387 273.3362);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.4424 0.0387 273.3362);
  --popover: oklch(0.8595 0.0136 262.3750);
  --popover-foreground: oklch(0.4424 0.0387 273.3362);
  --primary: oklch(0.5361 0.2495 290.6376);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.8595 0.0136 262.3750);
  --secondary-foreground: oklch(0.4424 0.0387 273.3362);
  --muted: oklch(0.9080 0.0110 256.6981);
  --muted-foreground: oklch(0.5537 0.0304 271.5381);
  --accent: oklch(0.7365 0.1346 221.0205);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.5538 0.2158 13.5083);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8124 0.0155 260.7273);
  --input: oklch(0.8595 0.0136 262.3750);
  --ring: oklch(0.5361 0.2495 290.6376);
  --chart-1: oklch(0.5361 0.2495 290.6376);
  --chart-2: oklch(0.7365 0.1346 221.0205);
  --chart-3: oklch(0.6297 0.1717 138.4600);
  --chart-4: oklch(0.6653 0.2227 36.2474);
  --chart-5: oklch(0.6973 0.1152 25.7061);
  --sidebar: oklch(0.9354 0.0080 253.8550);
  --sidebar-foreground: oklch(0.4424 0.0387 273.3362);
  --sidebar-primary: oklch(0.5361 0.2495 290.6376);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.7365 0.1346 221.0205);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.8124 0.0155 260.7273);
  --sidebar-ring: oklch(0.5361 0.2495 290.6376);
  --font-sans: Roboto Mono, monospace;
  --font-serif: Playfair Display, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.35rem;
  --shadow-2xs: 0px 4px 6px 0px hsl(235.2632 29.6875% 25.0980% / 0.06);
  --shadow-xs: 0px 4px 6px 0px hsl(235.2632 29.6875% 25.0980% / 0.06);
  --shadow-sm: 0px 4px 6px 0px hsl(235.2632 29.6875% 25.0980% / 0.12), 0px 1px 2px -1px hsl(235.2632 29.6875% 25.0980% / 0.12);
  --shadow: 0px 4px 6px 0px hsl(235.2632 29.6875% 25.0980% / 0.12), 0px 1px 2px -1px hsl(235.2632 29.6875% 25.0980% / 0.12);
  --shadow-md: 0px 4px 6px 0px hsl(235.2632 29.6875% 25.0980% / 0.12), 0px 2px 4px -1px hsl(235.2632 29.6875% 25.0980% / 0.12);
  --shadow-lg: 0px 4px 6px 0px hsl(235.2632 29.6875% 25.0980% / 0.12), 0px 4px 6px -1px hsl(235.2632 29.6875% 25.0980% / 0.12);
  --shadow-xl: 0px 4px 6px 0px hsl(235.2632 29.6875% 25.0980% / 0.12), 0px 8px 10px -1px hsl(235.2632 29.6875% 25.0980% / 0.12);
  --shadow-2xl: 0px 4px 6px 0px hsl(235.2632 29.6875% 25.0980% / 0.30);
  --tracking-normal: 0.075em;
  --spacing: 0.28rem;
}

.dark {
  --background: oklch(0.2182 0.0235 280.5515);
  --foreground: oklch(0.8866 0.0385 264.3576);
  --card: oklch(0.2481 0.0267 277.9540);
  --card-foreground: oklch(0.8866 0.0385 264.3576);
  --popover: oklch(0.4084 0.0290 274.6680);
  --popover-foreground: oklch(0.8866 0.0385 264.3576);
  --primary: oklch(0.7800 0.1167 300.1665);
  --primary-foreground: oklch(0.2481 0.0267 277.9540);
  --secondary: oklch(0.4811 0.0312 273.5884);
  --secondary-foreground: oklch(0.8866 0.0385 264.3576);
  --muted: oklch(0.3025 0.0264 269.4551);
  --muted-foreground: oklch(0.7572 0.0362 267.5435);
  --accent: oklch(0.8690 0.0890 200.0967);
  --accent-foreground: oklch(0.2481 0.0267 277.9540);
  --destructive: oklch(0.7586 0.1332 356.8370);
  --destructive-foreground: oklch(0.2481 0.0267 277.9540);
  --border: oklch(0.3290 0.0286 276.4276);
  --input: oklch(0.3290 0.0286 276.4276);
  --ring: oklch(0.7800 0.1167 300.1665);
  --chart-1: oklch(0.7800 0.1167 300.1665);
  --chart-2: oklch(0.8690 0.0890 200.0967);
  --chart-3: oklch(0.8619 0.1051 139.9510);
  --chart-4: oklch(0.8041 0.1074 42.6997);
  --chart-5: oklch(0.9187 0.0256 23.6032);
  --sidebar: oklch(0.1996 0.0201 279.9638);
  --sidebar-foreground: oklch(0.8866 0.0385 264.3576);
  --sidebar-primary: oklch(0.7800 0.1167 300.1665);
  --sidebar-primary-foreground: oklch(0.2481 0.0267 277.9540);
  --sidebar-accent: oklch(0.8690 0.0890 200.0967);
  --sidebar-accent-foreground: oklch(0.2481 0.0267 277.9540);
  --sidebar-border: oklch(0.4084 0.0290 274.6680);
  --sidebar-ring: oklch(0.7800 0.1167 300.1665);
  --font-sans: Roboto Mono, monospace;
  --font-serif: Playfair Display, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.35rem;
  --shadow-2xs: 0px 4px 6px 0px hsl(235.2632 29.6875% 25.0980% / 0.06);
  --shadow-xs: 0px 4px 6px 0px hsl(235.2632 29.6875% 25.0980% / 0.06);
  --shadow-sm: 0px 4px 6px 0px hsl(235.2632 29.6875% 25.0980% / 0.12), 0px 1px 2px -1px hsl(235.2632 29.6875% 25.0980% / 0.12);
  --shadow: 0px 4px 6px 0px hsl(235.2632 29.6875% 25.0980% / 0.12), 0px 1px 2px -1px hsl(235.2632 29.6875% 25.0980% / 0.12);
  --shadow-md: 0px 4px 6px 0px hsl(235.2632 29.6875% 25.0980% / 0.12), 0px 2px 4px -1px hsl(235.2632 29.6875% 25.0980% / 0.12);
  --shadow-lg: 0px 4px 6px 0px hsl(235.2632 29.6875% 25.0980% / 0.12), 0px 4px 6px -1px hsl(235.2632 29.6875% 25.0980% / 0.12);
  --shadow-xl: 0px 4px 6px 0px hsl(235.2632 29.6875% 25.0980% / 0.12), 0px 8px 10px -1px hsl(235.2632 29.6875% 25.0980% / 0.12);
  --shadow-2xl: 0px 4px 6px 0px hsl(235.2632 29.6875% 25.0980% / 0.30);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}


@layer base {
  * {

    outline-color: color-mix(in oklab, var(--ring) 50%, transparent);
    outline-width: 1px;
   
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
} 





   
